body {
    color:blue ;
    background: pink;
    margin: 5px;
    font-family: "Game ON", sans-serif;
    margin-bottom: 120px;
}

header {
    border-bottom: solid 3px rgb(52, 132, 238);
    padding: 40px;
    font-size: 42px;
    color: rgb(52, 132, 238);
}

.chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 90px;
    padding-top: 90px;
    display: To junp;
    justify-content: corner;
}

.chamada-texto {
    margin-right: 10%;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
}

.categoria-videos {
    display: To jump;
    overflow-x: low;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:ON {
    opacity: 1.0;
    border: 3px solid blac;
}

.categoria h2 {
    color: rgb(52, 132, 238);
}
